
/*Geral*/
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #333;
    font-family: 'Lato', sans-serif;
}

/*Header*/
.logotipo {
    width: 30px;
    height: 27.63px;
    text-align: left;
    padding-left: 22px;
    padding-top: 6px;
    padding-bottom: 9,37px;
}

header { 
    background: #E0E0E0;
}

/*Menu*/
.inicio-cabecalho {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 43px;
    padding-top: 9px;
    padding-bottom: 8px;
    max-width: 1112px;
    background: #E0E0E0;
}
span {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.fechar, .menu-texto, .divisor {
    display: none;
} 

.menu-hamburguer { 
    display: block;
    padding: 9px; 
    padding-right: 20px;
    
}

.menu .menu-celular:hover {
    display: block;
}

.menu-celular:hover .fechar { 
    display: block;
    padding-top: 20px;
    padding-left:  20px;
    text-align: left;
}

.menu-texto div { 
    padding-right: 20px;
}

.menu-celular:hover .menu-texto { 
    display: block;
    padding-top: 42px;
    line-height: 35px;
    color: #FFFFFF;
}

.menu .menu-celular .menu-texto div:hover {
    background: #C4C4C4;
    color: #333333;
}

.menu .menu-celular .menu-texto:hover { 
    color: #FFFFFF;
}

.menu-celular:hover .menu-hamburguer {
    display: none;
}

.menu-celular { 
    font-size: 16px;
    text-align: right;
}
.menu-celular:hover {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 85%;
    height: 100%;
    border: 0;
    background: #333333;
    color: white;
}

/*Form Square*/
.inicio-formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.inicio-formulario .campo-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.campo-formulario {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.inicio-formulario input, .inicio-formulario select {
    border: 1px solid #979797; 
    border-radius: 4px;
    height: 32px;
}

.inicio-formulario button {
    height: 32px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    line-height: 22px;
    background: #333;
    color: white;
}

.inicio-formulario label {
    margin-bottom: 2px;
    line-height: 22.22px;
}

.inicio-formulario h1 {
    display: none;
}

.line {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #979797;
}

/*Tabela*/
.contente {
    display: flex;
}
.tabela {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    height: 30px;
}

.tabela, tr, td, th {
    border-collapse: collapse;
} 

th {
    vertical-align: bottom; 
}

.titulo-tabela {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}

.titulo-tabela, th { 
    height: 30px;
}

#tbody-line-one {
    height: 20px;
}

.tt-destaque { 
    text-align: center; 
}

.t-destaque {
    font-weight: bold;
    text-align: left;
}

.borda-acima {
    border-top: 1px solid #979797;  
}



/*.destaque { 
    font-weight: bold;
    text-align: right;
    height: 33px;
}



.icon {
    text-align: center;
}
.result {
    text-align: right;
    font-size: 10px;
    padding-top: 0px;
}/*

/*Footer*/
.footer-content {
    position: fixed;
    bottom: 0;
    background: #333333;
    width: 100%;
    height: 8px;
}


/*Alteração para tamanho de 768px*/
@media screen and (min-width: 768px) {
    .inicio-formulario h1 {
        display: block;
        text-align: center;
        font-size: 18px;
    }
    
    .inicio-formulario .campo-formulario {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .campo-formulario {
        margin-top: 0px;
    }

    .campo-pequeno {
        width: calc(20% - 30px);
    }

    .campo-grande {
        width: calc(60% - 60px);
    }

    .inicio-formulario {
        width: 95%;
        border-radius: 4px;
        border: 1px solid #979797;
        margin: 20px;  
        padding-top: 20px;
        padding-bottom: 20px
    }

    .line {
        display: none;
    }

    .menu-celular:hover {
        width: 33%;
    }
    
    .tabela {
        justify-content: center;
        width: 100%;
        padding-left: 20%;
        margin-left: 20px;
        margin-right: 20px
    }    

    .tt-destaque { 
        text-align: right;
    }

}

/*Alteração para tamanho de 1112px*/
@media screen and (min-width: 1112px) {
        .inicio-cabecalho { 
            max-width: 1112px;
        }

        
        .inicio-formulario .campo-formulario {
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
        }

        .inicio-formulario .campo-formulario {
            margin: 0;
            margin-top: 20px;
            width: 100%;
        }

        .inicio-formulario {
            width: 400px;
            padding: 20px;
            float: left;
        }

        .inicio-formulario button {
            width: 100%;
            margin: 0px;
            margin-top: 20px;
        }

        .tabela {
            width: 652px;
            padding: 20px;
            float: right;
        }

        span {
            text-align: left;
            padding-left: 20px;
        }
        .menu .fechar, .menu .menu-hamburguer, .menu .menu-celular:hover { 
            display: none;
        }
        .menu .menu-texto:hover { 
            display: none;
        }

        .menu .menu-texto {
            display: flex;
            flex-direction: row;
            width: fit-content;
            height: fit-content;
            justify-content: center;
            background: #ffffff;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            margin-right: 20px;
            white-space: nowrap;
            font-size: 16px bold;
            color: #333333;
            line-height: 20px;
        }

        .divisor { 
            display: block;
            color: #333333;
            
        }

     
    }

    .desktop-1500 { 
        display: flex;
        justify-content: center;
        
    }