
/*Geral*/
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #333;
    font-family: 'Lato', sans-serif;
}

/*Header*/
.logo {
    width: 30px;
    height: 27.63px;
    text-align: left;
    margin-top: 15px;
    margin-left: 22px;
    margin-bottom: 17.37px;
}

/*Menu*/

.menu, .close {
    display: none;
}

.menu-hamburguer { 
    margin: 18px;  

}

.menu-box .close { 
    position: absolute;
    margin: 20px;
}

.menu-hamburguer:hover .menu { 
    display: block;

}

/**.menu-hamburguer:hover .close { 
    display: block;
}**/


.menu {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 85%;
    height: 100%;
    border: 0;
    background: #333333;
    color: white;
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
    line-height: 30px;
}

.divider { 
    display: none;
    color: white
}

.header-wrapper {
    max-width: 1112px;
    display: flex;
    width: 100%;
    height: 100%;
    background: #E0E0E0;
    max-width: 1112;
}

span {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

/*Form Square*/
.form-square {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.form-square .field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.form-square input, .form-square select {
    border: 1px solid #979797; 
    border-radius: 4px;
    height: 32px;
}

.form-square button {
    height: 32px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    line-height: 22px;
    background: #333;
    color: white;
}

.form-square label {
    margin-bottom: 2px;
}

.form-square h1 {
    display: none;
}

.line {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #979797;
}

/*Tabela*/
.content {
    display: flex;
}
.table {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    height: 30px;
}

.table, tr, td, th {
    border-collapse: collapse;
} 

th {
    vertical-align: bottom; 
}

.title-table {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}

.title-table, th { 
    height: 50px;
}

#tbody-line-one {
    height: 49px;
}

.tt-highligh { 
    text-align: center; 
}

.t-highligh {
    font-weight: bold;
    text-align: left;
}

.highligh { 
    font-weight: bold;
    text-align: right;
    height: 33px;
}

.edge-up {
    border-top: 1px solid #979797;  
}

.icon {
    text-align: center;
}
.result {
    text-align: right;
    font-size: 10px;
    padding-top: 0px;
}

/*Footer*/
.footer-content {
    position: fixed;
    bottom: 0;
    background: #333333;
    width: 100%;
    height: 8px;
}


/*Alteração para tamanho de 768px*/
@media screen and (min-width: 768px) {
    .form-square h1 {
        display: block;
        text-align: center;
        font-size: 18px;
    }
    
    .form-square .field-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .form-field {
        margin-top: 0px;
    }

    .field-small {
        width: calc(20% - 30px);
    }

    .field-big {
        width: calc(60% - 60px);
    }

    .form-square {
        width: 95%;
        border-radius: 4px;
        border: 1px solid #979797;
        margin: 20px;  
        padding-top: 20px;
        padding-bottom: 20px
    }

    .line {
        display: none;
    }
    
    .table {
        justify-content: center;
        width: 100%;
        padding-left: 20%;
        margin-left: 20px;
        margin-right: 20px
    }    

    .tt-highligh { 
        text-align: right;
    }

    .menu {
        width: 33%;
    }


}

/*Alteração para tamanho de 1112px*/
@media screen and (min-width: 1112px) {
        .form-square .field-wrapper {
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
        }

        .form-square .form-field {
            margin: 0;
            margin-top: 20px;
            width: 100%;
        }

        .form-square {
            width: 400px;
            padding: 20px;
            float: left;
        }

        .form-square button {
            width: 100%;
            margin: 0px;
            margin-top: 20px;
        }

        .table {
            width: 652px;
            padding: 20px;
            float: right;
        }

        span {
            text-align: left;
            padding-left: 20px;
        }

        .menu-box .menu { 
            display: flex;
            flex-direction: row;
            width: fit-content;
            height: fit-content;
            justify-content: center;
            background: #ffffff;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 15px;
            margin-right: 20px;
            white-space: nowrap;
            font-size: 16px bold;
            color: #333333;
        }

        .divider { 
            display: block;
            color: #333333;
            padding-left: 17px;
            padding-right: 17px;
        }

        .title-table { 
        }

    }