/*geral*/
* { 
    margin: 0px;
    padding: 0px;
    font-family: "Lato";
}

/*cabeçalho*/
.cabeçalho {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(224, 224, 224, 1);
}

.cabeçalho-conteudo { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1112px;
}

.formulario-tabela { 
    display: flex;
    justify-content: center;
}
.formulario-tabela-conteudo { 
    width: 100%;
    max-width: 1112px;
    justify-content: center;
}


.logo {
    width: 30px;
    height: 27;
    margin: 18px 22px;
}

.titulo { 
    font-size: 20px;
    text-align: center;
}

.menu-hamburguer {
    margin: 18px;
}

button { 
    border: none;
    background: none;
}

.menu-texto, .fechar {
    display: none;
}

a {
    text-decoration: none;
    color: #333333;
}

/*menu hamburguer*/
.nav.ativo .divisor { 
    display: none;
}

.nav.ativo .fechar {
    display: block;
    margin: 20px;
}

.nav.ativo .menu-texto {
    text-align: end;
    display: block;
    position: fixed;
    width: 85%;
    top: 0px; 
    right: 0px;
    height: 100vh; 
    transition: .6s; 
    background:rgba(51, 51, 51, 1);
    z-index: 1000; 
}

.nav.ativo .menu-texto a { 
    color: rgba(255, 255, 255, 1);
} 

.nav.ativo .menu-texto :hover { 
    color: rgba(51, 51, 51, 1);
    background: rgba(196, 196, 196, 1);
} 

.nav.ativo .menu-texto li { 
    padding-right: 20px;
    height: 32px;
    list-style: none;
}

/*formulario*/


.forma-quadrada {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
.forma-quadrada .embrulho-campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.campo-formulario {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}
.forma-quadrada input, .forma-quadrada select {
    border: 1px solid #979797; 
    border-radius: 4px;
    height: 32px;
}
.forma-quadrada button {
    height: 32px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    line-height: 22px;
    background: #333;
    color: white;
}
.forma-quadrada label {
    margin-bottom: 2px;
    line-height: 22.22px;
}
.forma-quadrada h1 {
    display: none;
}
.linha {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #979797;
}

h3 { 
    margin-top: 47px;
    margin-bottom: 19px;
    text-align: center;
}

.extrato-tabela{
    width: 90%;
    border-collapse: collapse;
    margin: 20px;
    
}

.extrato-tabela thead th, 
.extrato-tabela td{
    padding: 0.75em 0.2em;
    border-bottom: 1px solid #aaa;
}

.extrato-tabela tfoot th{
    font-style: normal;
    border-top: 4px double #aaa;
}

.extrato-tabela tfoot em{
    font-style: normal;
}




/*Footer*/
.rodape {
    position: fixed;
    bottom: 0;
    background: #333333;
    width: 100%;
    height: 8px;
}


/*Alteração para tamanho de 768px*/
@media screen and (min-width: 768px) {
    .nav.ativo .menu-texto {
        width: 30%;

    }
    .forma-quadrada h1 {
        display: block;
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .forma-quadrada .embrulho-campo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .campo-formulario {
        margin-top: 0px;
    }
    .pequeno {
        width: 21%;
    }
    .grande {
        width: 41%;
    }
    .forma-quadrada {
        width: 95%;
        border-radius: 4px;
        border: 1px solid #979797;
        margin: 20px;
        padding-top: 20px;
        padding-bottom: 20px
    }
    .linha {
        display: none;
    } 

    .botao {
        width: 200px;
    }

    .extrato-tabela{
        width: 95%;

    }
@media screen and (min-width: 1112px)
{
    .cabeçalho { 
        width: 100%;
        height: 80px;
        display: flex;
        background: rgba(224, 224, 224, 1);
    }

    h2 { 
        display: flex;
        justify-content: left;
    }

    h1 {
        text-align: left;
    }
    
    .logo {
        width: 40px;
        height: 36;
        margin: 18px 22px;
    }
    .menu-texto { 
        display: flex;
        list-style: none;
        gap: 20px;
        height: 32px;
        align-items: c;
        margin-right: 20px;
        color: rgba(51, 51, 51, 1);
        background: rgba(255, 255, 255, 1);
        padding: 8px 20px 0px 20px;
    }    

    .menu-hamburguer { 
        display: none;
    }

    .forma-quadrada .embrulho-campo {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .forma-quadrada .campo-formulario {
        margin: 0;
        margin-top: 20px;
        width: 100%;
    }
    .forma-quadrada {
        width: 400px;
        padding: 20px;
        float: left;
    }
    .forma-quadrada button {
        width: 100%;
        margin: 0px;
        margin-top: 20px;
    }

    .extrato-tabela{
        width: 55%;

    }
}

